:root{
    --tamaño-letra-nombre: 1rem;
}

html{
    background-color: #F0E9D2;
}
body{
    font-family: Arial Nova Light, Helvetica, sans-serif;
}
.container-form{
    width: 40%;
    margin: 0 auto;
    border: 3px solid #181D31;
    border-radius: 4px;
    text-align: center;
    padding: 2%;
    margin-top: 2%;
    background-color: #678983;
    color: #fff;
}
.txt_nombre_ciudad{
    font-size: 1.7rem;
    padding: 5%;
}
.container-barra-busqueda{
    margin-top: 3%;
}
.container-barra-busqueda .item-form:nth-child(1){
    border-radius: 3px;
    padding: 2%;
    border: 1px solid #ccc;
    width: 50%;
}
.container-barra-busqueda .item-form:nth-child(2){
    border-radius: 100%;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #E6DDC4;
}

/*Cuadro con la información*/
.container-main{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
}
.card{
    border: 2px solid #181D31;
    padding: 1% 2%;
    margin: 1%;
    background-color: #678983;
    color: #fff;
    border-radius: 2px;
}
.container-title-city{
    display: flex;
    font-size: 1.4rem;
}
.container-title-city i{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    margin-right: 3%;
}
#dataTemp{
    font-size: 1.2rem;
}